body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	line-height: 1.6;
	color: #333;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

.conteyner {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}
.header{
	font-size: 60px;
	text-align: center;
}
	
.info{
	margin: 0 40% 0;
	width: 100%;
	max-width: 1000;
    
}
.text{
text-decoration: none;
color: #333;	
}
.text:hover{
	text-decoration: none;
  color: #5c707d;
}
li {
    list-style-type: none;
    }